[Desktop Entry]
Type=Application
Version=1.0
Name=InstallCore
GenericName=InstallCore
Exec=gnome-terminal -- /bin/sh -c "installcore ; echo Done - Press enter to exit; read _" 
Comment=Core — System Installer
Icon=/home/liveuser/.config/img/icon.png
Terminal=false
StartupNotify=true
X-AppStream-Ignore=true
